@import '~bootstrap/scss/bootstrap';

.admin_signup_color {
    background-color: #0B0D0F;
    min-height: 100vh;
}

.admin_signup {
    padding: 60px 20px 20px 20px;
}

.admin_signup_pass_bar{
    padding: 5px 0 20px 0;
}

.admin_signup_button {
    width: 100%;
    margin-bottom: 15px;
}

.admin_signup_form {
    background-color: #27292b;
    padding: 10px;
    border-radius: 2%;
}

.admin_signup_text {
    color: white;
}

.admin_signup_accordion {
    margin-bottom: 20px;
    max-width: 272.47px;
}