@import '~bootstrap/scss/bootstrap';

.daily_menu {
    min-height: 100vh;
    background-color: #0B0D0F;
}

.daily_menu_container{
    max-width: 500px;
}

/* ---Phone Preview--- */
.daily_menu_preview_container {
    align-items: center;
    margin: 20px;
}

.daily_menu_phone_frame {
    width: 300px;
    height: 600px;
    border: 16px solid #333;
    border-radius: 40px;
    position: relative;
    background: #fff;
    overflow: hidden;
    margin-bottom: 20px;
}

.daily_menu_message_preview {
    padding: 20px;
    font-size: 16px;
    white-space: pre-wrap;
    word-wrap: break-word;
    
    max-height: 100%;
}

.daily_menu_toast {
    max-height: 60vh;
    overflow: auto;
}